{% load custom_tags %}
<html>
    <h1>Heystox Sorted Stocks</h1>
<head>
    <meta http-equiv="refresh" content="30">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <form action="" method="get">
        Sorted Stock Created Date: <input type="date" name="created_at">
        <input type="submit" />
    </form>
    <h2>Total Sorted Stocks Count: <span>{% if symbols %}{{ symbols.count }}{% else %} 0 {% endif %}</span></h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Entry Type</th>
            <th>Entry Price</th>
            <th>Stoploss</th>
            <th>Target</th>
            <th>Auto Exit</th>
            <th>Profit/Loss</th>
        </tr>
        {% if symbols %}
            {% for symbol in symbols %}
            <tr>
                <td>{{ symbol.name }}</td>
                <td>{{ symbol.entry_time }}</td>
                <td>{{ symbol.entry_type }}</td>
                <td>{{ symbol.entry_price }}</td>
                <td>{{ symbol.stoploss_price }}</td>
                <td>{{ symbol.target_price }}</td>
                <td>Working</td>
                <td>{{ symbol.pl }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>

</html>