{% load custom_tags %}
<html>
    <h1>Heystox Sorted Stocks</h1>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <form action="" method="get">
        Sorted Stock Created Date: <input type="date" name="created_at">
        <input type="submit" />
    </form>
    <h2>Total Sorted Stocks Count: <span>{% if symbols %}{{ symbols.count }}{% else %} 0 {% endif %}</span></h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Entry Type</th>
            <th>Today Movement</th>
            <th>OHL</th>
            <th>PDHL</th>
            <th>MACD</th>
            <th>STOCHASTIC</th>
            <th>Current Price</th>
        </tr>
        {% if symbols %}
            {% for symbol in symbols %}
            <tr>
                <td>{{ symbol.symbol }}</td>
                <td>{{ symbol.created_at.date }}</td>
                <td>{{ symbol.entry_type }}</td>
                {% if symbol.symbol.get_stock_movement %}
                <td>{{ symbol.symbol.get_stock_movement|floatformat }}</td>
                {% else %}
                <td>Data Not Found</td>
                {% endif %}
                <td>{% get_timestamp_by_indicator symbol "OHL" %}</td>
                <td>{% get_timestamp_by_indicator symbol "PDHL" %}</td>
                <td>{% get_timestamp_by_indicator symbol "MACD" %}</td>
                <td>{% get_timestamp_by_indicator symbol "STOCHASTIC" %}</td>
                <td>{% get_sorted_stock_closing_price symbol %}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>

</html>